.calc-table {
  width: var(--dynamic-blocks-width);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0;
}

.calc-input {
  width: var(--dynamic-blocks-width);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: 20px auto;
  background-color: #04aa6d21;
  padding: 25px 50px;
}

input {
  width: 100%;
  background-color: transparent;
  border: 1px solid salmon;
  color: wheat;
  padding: 8px 12px;
  font-size: 1.2rem;
  border-radius: 8px;
}
